.nav__foot{
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    p{
        text-align: center;
        color: #07dbf7;
        font-size: 24px;
    }
}
.icon__box{
    text-align: center;
    margin-bottom: 90px;
    font-size: 58px;
    a{
        margin: 0 20px;
    }
}